.discourse-lottery-card {
  border: 1px solid var(--primary-low);
  background-color: var(--secondary-very-low);
  padding: 1.2em;
  margin-bottom: 1em;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.05);

  h3 {
    margin-top: 0;
    color: var(--primary-medium);
    font-size: var(--font-up-2);
  }

  .lottery-details {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.6em 1.2em;
    margin-bottom: 1em;

    .label {
      font-weight: bold;
      color: var(--primary);
    }
  }

  .lottery-status {
    font-weight: bold;
    font-size: var(--font-up-1);
    padding: 0.5em;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 1.2em;
    text-transform: uppercase;
    letter-spacing: 1px;

    &.running {
      background-color: var(--tertiary-low);
      color: var(--tertiary);
    }
    &.finished {
      background-color: var(--highlight-low);
      color: var(--highlight);
    }
    &.cancelled {
      background-color: var(--danger-low);
      color: var(--danger);
    }
  }

  .lottery-winners {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--primary-low);
    h4 {
      margin-bottom: 0.5em;
      font-size: var(--font-up-1);
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
      li {
        padding: 0.5em 0;
        display: flex;
        align-items: center;
        gap: 0.5em;
        border-bottom: 1px solid var(--primary-very-low);
        &:last-child {
          border-bottom: none;
        }
        .winner-title {
          font-size: var(--font-down-2);
          background: var(--primary-very-low);
          padding: 2px 6px;
          border-radius: 4px;
        }
        .winner-floor {
          margin-left: auto;
          font-family: monospace;
          background-color: var(--secondary-low);
          padding: 2px 6px;
          border-radius: 4px;
        }
      }
    }
  }
}
